<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @bulletin.link %>
</p>

<p>
  <strong>Note:</strong>
  <%= @bulletin.note %>
</p>

<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
